:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background-color: #fff;
}

header img {
    width: auto;
    height: 5em;
}

header h1 {
    cursor: pointer;
}

header navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

header navbar a {
    padding: .5em 1em;
    border-radius: 2em;
}

header navbar a:hover {
    background-color: #f1f1f1;
}

header navbar a.selected {
    text-decoration: underline;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    color: inherit;
}

main {
    flex: 1;
    margin: 1em auto;
    width: 100%;
    max-width: 720px;
}

h2 {
    font-size: 2em;
}

#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    width: 16em;
}

article {
    background: #fff;
    border-radius: 0.4em;
    padding: 1em;
    margin-bottom: 1em;
}

article h3 {
    font-size: 1.5em;
    margin: 0;
}


.glitch { /* https://codepen.io/cbanlawi/pen/xxRBeMY */
    animation: glitch 750ms infinite;
}
@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}