<script>
markdownParser = new marked.Marked();
markdownParser.use(markedBaseUrl.baseUrl("writeups/" + properties.selectedWriteup.id + "/"));

properties.writeupContent = '';
fetch('writeups/' + properties.selectedWriteup.id + '/content.md')
    .then(response => response.ok && response.text())
    .then(data => properties.writeupContent = data || '*Erreur de chargement du contenu*');
</script>

<section>
    <h2 data-bind="selectedWriteup.title"></h2>
    
    <div class="markdown" data-html="markdownParser.parse(writeupContent)" data-update="writeupContent"></div>
    
    <hr />
    <div>
        <datetime data-bind="new Date(selectedWriteup.date).toLocaleDateString('fr-FR', {day:'numeric',month:'long',year:'numeric'})"></datetime>
        <span data-foreach-author="selectedWriteup.authors">
            <button class="author" data-bind="author"></button>
        </span>
        <span data-foreach-tag="selectedWriteup.tags">
            <button class="tag" data-bind="tag"></button>
        </span>
    </div>
</section>