<script>
function sortByMonth(writeups) {
    return writeups
        .sort((a, b) => new Date(b.date) - new Date(a.date))
        .reduce((acc, writeup) => {
            let month = new Date(writeup.date).toLocaleDateString("fr-FR", {month: "long", year: "numeric"});
            if (!acc[month])
                acc[month] = []
            acc[month].push(writeup);
            return acc;
        }, {});
}
</script>

<h2>Chronologie</h2>
<div data-foreach-writeups-by-month="sortByMonth(writeups)" data-index="month" data-update="writeups">
    <div>
        <h3 data-bind="month"></h3>
        <div data-foreach-writeup="writeupsByMonth">
            <a data-on-click="[currentPageId, selectedWriteup] = ['writeup', writeup]">
                <article>
                    <h3 data-bind="writeup.title"></h3>
                    <datetime data-bind="new Date(writeup.date).toLocaleDateString('fr-FR', {day:'numeric',month:'long',year:'numeric'})"></datetime>
                    <span data-foreach-author="writeup.authors">
                        <button class="author" data-bind="author"></button>
                    </span>
                    <span data-foreach-tag="writeup.tags">
                        <button class="tag" data-bind="tag"></button>
                    </span>
                </article>
            </a>
        </div>
    </div>
</div>