:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    font-size: 18px;
    color: #333;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em 2em;
    background-color: #fff;
}

@media screen and (orientation: landscape) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}

header img {
    width: auto;
    height: 4em;
    vertical-align: middle;
}

header h1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

header navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    text-align: center;
}

header navbar a {
    padding: .5em 1em;
    border-radius: 2em;
}

header navbar a:hover {
    background-color: #f1f1f1;
}

header navbar a.selected {
    text-decoration: underline;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    color: inherit;
    cursor: pointer;
}

main {
    flex: 1;
    margin: 1em auto;
    width: 96%;
    max-width: 720px;
    padding: 2%;
}

h2 {
    font-size: 2em;
}

#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    width: 16em;
}

section {
    padding: 2em;
    background-color: #ffffff;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

article {
    background: #ffffff;
    border-radius: 0.4em;
    padding: 1em;
    margin-bottom: 1em;
}

article h3 {
    font-size: 1.5em;
    margin: 0;
}

article:hover h3 {
    text-decoration: underline;
}

.tag, .author {
    display: inline-block;
    background-color: #f1f1f1;
    padding: .4em;
    border: 0;
    border-radius: .4em;
    cursor: pointer;
    margin: .2em;
}

.tag:before {
    content: '🏷️ ';
}

.author:before {
    content: '👤 ';
}

.tag .count, .author .count {
    display: inline-block;
    background-color: #ffffff;
    padding: 0 .4em;
    text-align: center;
    border-radius: .4em;
}

.markdown img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.markdown pre {
    overflow-x: auto;
    font-size: .8em;
    background-color: #f1f1f1;
    padding: 1em;
}

a.back {
    background-color: #fc5d5d;
    color: #ffffff;
    border-radius: .4em;
    padding: .5em 1em;
    font-weight: bold;
    font-size: 0.8em;
}

.glitch { /* https://codepen.io/cbanlawi/pen/xxRBeMY */
    animation: glitch 750ms infinite;
}
@keyframes glitch {
    0% {
        text-shadow: 0.1em 0 0 #00fffc, -0.06em -0.08em 0 #fc00ff, 0.05em 0.08em 0 #fffc00;
    }
    15% {
        text-shadow: 0.1em 0 0 #00fffc, -0.06em -0.08em 0 #fc00ff, 0.05em 0.08em 0 #fffc00;
    }
    16% {
        text-shadow: -0.1em -0.05em 0 #00fffc, 0.05em 0.07em 0 #fc00ff, -0.1em -0.1em 0 #fffc00;
    }
    49% {
        text-shadow: -0.1em -0.05em 0 #00fffc, 0.05em 0.07em 0 #fc00ff, -0.1em -0.1em 0 #fffc00;
    }
    50% {
        text-shadow: 0.1em 0.07em 0 #00fffc, 0.06em 0 0 #fc00ff, 0 -0.08em 0 #fffc00;
    }
    99% {
        text-shadow: 0.1em 0.07em 0 #00fffc, 0.06em 0 0 #fc00ff, 0 -0.08em 0 #fffc00;
    }
    100% {
        text-shadow: -0.1em 0 0 #00fffc, -0.05em -0.08em 0 #fc00ff, -0.08em -0.05em 0 #fffc00;
    }
}